.service-option{
    @apply bg-gray-300 flex justify-center items-center p-2 rounded-lg
}

.service-option img{
    height: 125px;
    width: 100%;
    mix-blend-mode: multiply;
    object-fit: contain;
}


.home-section{
    /* background-image: url("../images/carpooling.jpg"); */
}